src/main/mule/poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:redis="http://www.mulesoft.org/schema/mule/redis"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/redis http://www.mulesoft.org/schema/mule/redis/current/mule-redis.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="caa81d94-bfd1-473f-bf38-cb70fd497d78" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="pocFlow1" doc:id="0b334e4b-37c5-4467-ad8c-a7038f89c02c" >
		<scheduler doc:name="Scheduler" doc:id="7b316bef-741b-4b1c-bd14-d4abf6ba1e23" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="cb38857c-8c6d-483f-8aa6-cdc7ac81009c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0

import modules::functions as func //import your dataweave file: functions.dwl 

output application/json
---
{
	value: func::checkMinMax("gopal",6,20), // to check min max length 
	trimmedValue: func::trimZero("0000gopal0000")//to trim leadingZeros
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5d1e24c4-0669-4879-a5fa-e086b1f20ed4" message="#[payload]"/>
	</flow>
</mule>
